---
layout: layouts/base.njk
templateClass: tmpl-post


---

<div class="container">
  <h1>{{title}}</h1>

  <br>

  <h2>
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tags }}</a>
  </h2>

  <p>See
    <a href="{{ '/tags/' | url }}">all tags</a>.</p>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      {{ content | safe }}
    </div>
    <div class="col-md-6">
      <img src="{{thumbnail}}"/>
      <br/>
      <br/>
      <hr>
      <br/>
      {# blogs post #}
      <div>
        {% set maxPosts = collections.posts.length | min(5) %}
        <h1>Latest
          {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }}
            Posts{% endif %}
        </h1>

        {% set postslist = collections.posts | head(-5) %}
        {% set postslistCounter = collections.posts | length %}
        {% include "postslist.njk" %}

        <p>More posts can be found in
          <a href="{{ '/posts/' | url }}">the archive</a>.</p>
      </div>
    </div>

  </div>
  <hr>
  <ul>
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}
      <li>Next:
        <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
      </li>
    {% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}
      <li>Previous:
        <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
      </li>
    {% endif %}
  </ul>
</div>